/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2017, 7:57:58 PM
    Author     : student
*/

.login-container{
    display: block;
    width: 300px;
    margin: 10% auto;
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 10px;
}

.login-container label{
    color: white;
}

.login-header{
    font-size: 20px;
    font-style: italic;
    padding: 10px;    
}

.login-error{
    color: red;
    background-color: lightpink;
    font-size: 20px;
}